Repository Gamegoo-repo/Gamegoo-front, pull requests merged in 2024-08, with the labels that each got.

#51 [Feat] 게시판, Form 수정
  .gitignore
  public/riot.txt
  src/api/.gitkeep
  src/api/index.ts
  src/api/join.ts
  src/api/login.ts
  src/app/board/page.tsx
  src/app/guide/page.tsx
  src/app/home/page.tsx
  src/app/join/email/page.tsx
  src/app/join/layout.tsx
  src/app/join/password/page.tsx
  src/app/join/summoner/page.tsx
  src/app/layout.tsx
  src/app/match/page.tsx
  src/app/matching/progress/page.tsx
  src/app/page.tsx
  src/components/board/PositionFilter.tsx
  src/components/board/Table.tsx
  src/components/chat/ChatList.tsx
  src/components/chat/ChatRoom.tsx
  src/components/chat/ChatWindow.tsx
  src/components/chat/FriendsList.tsx
  src/components/chat/MiniModal.tsx
  src/components/common/Button.tsx
  src/components/common/ChatButton.tsx
  src/components/common/Checkbox.tsx
  src/components/common/ConfirmModal.tsx
  src/components/common/FormModal.tsx
  src/components/common/GameStylePopup.tsx
  src/components/common/Header.tsx
  src/components/common/Input.tsx
  src/components/common/MoreBox.tsx
  src/components/crBoard/CRModal.tsx
  src/components/createBoard/GameStyle.tsx
  src/components/createBoard/PostBoard.tsx
  src/components/createBoard/UpdateProfileImage.tsx
  src/components/match/GraphicBox.tsx
  src/components/match/Profile.tsx
  src/components/match/SelectedStylePopup.tsx
  src/components/mypage/post/Post.tsx
  src/components/mypage/profile/PasswordModal.tsx
  src/components/readBoard/Champion.tsx
  src/components/readBoard/MoreBoxButton.tsx
  src/components/readBoard/ReadBoard.tsx
  src/constants/regEx.ts
  src/data/match.ts
  src/interface/.gitkeep
  src/interface/moreBox.ts
  src/redux/slices/exampleSlice.ts
  src/redux/slices/modalSlice.ts
  src/redux/slices/signInSlice.ts
  src/redux/store.ts
  src/redux/thunks/.gitkeep
  src/redux/thunks/postSignIn.ts
  src/styles/GlobalStyles.ts
Labels: 💄design, 🛠feat

#55 [Feat] 회원가입, 로그인 API merge 이슈
  .gitignore
  src/api/.gitkeep
  src/api/index.ts
  src/api/join.ts
  src/api/login.ts
  src/app/join/email/page.tsx
  src/app/join/layout.tsx
  src/app/join/password/page.tsx
  src/app/join/summoner/page.tsx
  src/app/matching/progress/page.tsx
  src/app/page.tsx
  src/components/common/Button.tsx
  src/components/common/ChatButton.tsx
  src/components/common/Checkbox.tsx
  src/components/common/ConfirmModal.tsx
  src/components/common/FormModal.tsx
  src/components/common/GameStylePopup.tsx
  src/components/common/Header.tsx
  src/components/match/GraphicBox.tsx
  src/components/match/Profile.tsx
  src/components/match/SelectedStylePopup.tsx
  src/constants/.gitkeep
  src/constants/regEx.ts
  src/data/match.ts
  src/interface/.gitkeep
  src/redux/slices/exampleSlice.ts
  src/redux/slices/signInSlice.ts
  src/redux/store.ts
  src/redux/thunks/.gitkeep
  src/redux/thunks/postSignIn.ts
  src/styles/GlobalStyles.ts
Labels: 🛠feat

#57 [Feat] 회원가입 API 수정사항 반영 및 소환사명 API 연동
  src/api/index.ts
  src/api/join.ts
  src/api/refreshToken.ts
  src/app/board/page.tsx
  src/app/home/page.tsx
  src/app/join/email/page.tsx
  src/app/join/layout.tsx
  src/app/join/password/page.tsx
  src/app/join/summoner/page.tsx
  src/app/layout.tsx
  src/app/match/game-mode/page.tsx
  src/app/match/page.tsx
  src/app/match/profile/page.tsx
  src/app/matching/complete/page.tsx
  src/app/matching/progress/page.tsx
  src/app/mypage/alert/page.tsx
  src/app/mypage/blocked/page.tsx
  src/app/mypage/help/page.tsx
  src/app/mypage/post/page.tsx
  src/app/mypage/profile/page.tsx
  src/app/mypage/review/page.tsx
  src/app/mypage/service/page.tsx
  src/app/page.tsx
  src/app/user/page.tsx
  src/components/common/Header.tsx
  src/components/common/Input.tsx
  src/constants/messages.ts
  src/redux/slices/signInSlice.ts
  src/redux/thunks/postSignIn.ts
  src/styles/GlobalStyles.ts
  src/utils/storage.ts
Labels: 🔗api

#61 [Feat] 회원가입, 로그인 변경사항 적용
  src/api/join.ts
  src/api/password.ts
  src/app/join/email/page.tsx
  src/app/join/layout.tsx
  src/app/join/summoner/page.tsx
  src/app/join/terms/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/password/auth/page.tsx
  src/app/password/find/page.tsx
  src/app/password/new/page.tsx
  src/components/common/Button.tsx
  src/components/common/Checkbox.tsx
  src/components/common/Input.tsx
  src/components/mypage/profile/PasswordModal.tsx
  src/data/terms.tsx
  src/redux/slices/passwordSlice.ts
  src/redux/slices/signInSlice.ts
  src/redux/store.ts
  src/redux/thunks/postSignIn.ts
  src/styles/theme.ts
Labels: 💄design, 🛠feat, 🔗api

#64 [Feat] 로그인 경로, 매칭 및 프로필 관련 작업
  next.config.mjs
  public/assets/icons/bottom_caution.svg
  public/assets/icons/bottom_delete.svg
  public/assets/images/card/custom_match.svg
  public/assets/images/card/gamgoo_match.svg
  src/api/manner.ts
  src/api/member.ts
  src/api/user.ts
  src/app/board/page.tsx
  src/app/home/page.tsx
  src/app/join/layout.tsx
  src/app/join/summoner/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/match/game-mode/page.tsx
  src/app/match/profile/page.tsx
  src/app/mypage/profile/page.tsx
  src/app/page.tsx
  src/app/password/new/page.tsx
  src/app/user/[id]/page.tsx
  src/components/common/BottomModal.tsx
  src/components/common/Button.tsx
  src/components/common/Header.tsx
  src/components/common/PositionCategory.tsx
  src/components/createBoard/PostBoard.tsx
  src/components/match/GameStyle.tsx
  src/components/match/GraphicBox.tsx
  src/components/match/Profile.tsx
  src/components/mypage/profile/MyPageProfile.tsx
  src/components/user/UserProfile.tsx
  src/constants/modal.ts
  src/data/match.ts
  src/data/profile.ts
  src/interface/profile.ts
  src/redux/slices/userSlice.ts
  src/utils/custom.tsx
Labels: 💄design, 🛠feat, 🔗api
