Repository Gamegoo-repo/Gamegoo-front, pull requests merged in 2024-09, with the labels that each got.

#74 [Feat] 친구 및 신고 관련 API 연동 등
  package-lock.json
  package.json
  public/assets/images/404_error.svg
  src/api/auth.ts
  src/api/board.ts
  src/api/friends.ts
  src/api/index.ts
  src/api/socket.ts
  src/api/user.ts
  src/app/[...404]/page.tsx
  src/app/board/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/mypage/post/page.tsx
  src/app/mypage/review/page.tsx
  src/app/not-found/page.tsx
  src/app/page.tsx
  src/app/registry.tsx
  src/app/user/[id]/page.tsx
  src/components/board/Table.tsx
  src/components/common/Button.tsx
  src/components/common/Header.tsx
  src/components/createBoard/PostBoard.tsx
  src/components/createBoard/UpdateProfileImage.tsx
  src/components/match/Profile.tsx
  src/components/mypage/blocked/BlockedBox.tsx
  src/components/mypage/post/Post.tsx
  src/components/mypage/profile/MyPageProfile.tsx
  src/components/readBoard/MoreBoxButton.tsx
  src/components/user/UserProfile.tsx
  src/hooks/notify.ts
  src/interface/board.ts
  src/interface/profile.ts
  src/interface/report.ts
  src/redux/slices/postSlice.ts
  src/redux/slices/userSlice.ts
  src/utils/storage.ts
  tsconfig.json
Labels: 💄design, 🛠feat, 🔧fix, 🔗api

#76 [Feat] 채팅 api 연동 (2)
  src/api/chat.ts
  src/api/socket.ts
  src/app/board/page.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/match/game-mode/page.tsx
  src/app/match/page.tsx
  src/app/match/profile/page.tsx
  src/app/matching/complete/page.tsx
  src/app/matching/progress/page.tsx
  src/app/mypage/blocked/page.tsx
  src/app/mypage/help/page.tsx
  src/app/mypage/post/page.tsx
  src/app/mypage/profile/page.tsx
  src/app/mypage/review/page.tsx
  src/app/mypage/service/page.tsx
  src/app/page.tsx
  src/components/board/Table.tsx
  src/components/chat/ChatList.tsx
  src/components/chat/ChatRoom.tsx
  src/components/chat/ChatWindow.tsx
  src/components/chat/FriendsList.tsx
  src/components/chat/MessageContainer.tsx
  src/components/common/Alert.tsx
  src/components/common/ChatButton.tsx
  src/components/common/ConfirmModal.tsx
  src/components/common/ConnectionManager.tsx
  src/components/common/MannerLevelBox.tsx
  src/components/crBoard/User.tsx
  src/components/createBoard/PostBoard.tsx
  src/components/readBoard/ReadBoard.tsx
  src/components/socket/SocketConnection.tsx
  src/components/user/UserProfile.tsx
  src/hooks/.gitkeep
  src/hooks/useChatList.ts
  src/hooks/useChatMessage.ts
  src/interface/board.ts
  src/interface/chat.ts
  src/redux/slices/chatSlice.ts
  src/redux/store.ts
  src/socket.ts
  src/utils/custom.tsx
Labels: 💄design, 🛠feat, 🔗api

#80 [Feat] 매칭 프로세스, 시스템 메세지, 회원가입 약관 등
  public/assets/icons/close_modal.svg
  public/assets/images/profile/profile7.svg
  public/assets/images/profile/profile8.svg
  src/api/auth.ts
  src/api/member.ts
  src/api/socket.ts
  src/app/join/terms/page.tsx
  src/app/layout.tsx
  src/app/match/page.tsx
  src/app/match/profile/page.tsx
  src/app/matching/complete/page.tsx
  src/app/matching/progress/page.tsx
  src/app/mypage/blocked/page.tsx
  src/app/mypage/notification/page.tsx
  src/app/mypage/post/page.tsx
  src/app/page.tsx
  src/components/alert/AlertWindow.tsx
  src/components/common/Header.tsx
  src/components/common/HeaderTitle.tsx
  src/components/common/MannerLevelBar.tsx
  src/components/common/TermModal.tsx
  src/components/common/Toggle.tsx
  src/components/match/GameStyle.tsx
  src/components/match/Profile.tsx
  src/components/match/SquareProfile.tsx
  src/components/mypage/blocked/BlockedBox.tsx
  src/components/mypage/notification/AlertBox.tsx
  src/components/mypage/profile/MyPageProfile.tsx
  src/components/socket/SocketConnection.tsx
  src/components/user/UserProfile.tsx
  src/constants/messages.ts
  src/constants/terms.ts
  src/data/match.ts
  src/data/tab.ts
  src/data/terms.tsx
  src/hooks/useChatMessage.ts
  src/redux/slices/matchInfo.ts
  src/redux/store.ts
  src/socket.ts
  src/utils/profile.tsx
Labels: 🛠feat

#85 [Feat] 탈퇴 유저 프로필, 로그인 경로 제한
  public/assets/icons/check_level_blind.svg
  public/assets/icons/check_level_blind_ring.svg
  src/app/matching/complete/page.tsx
  src/app/matching/progress/page.tsx
  src/app/page.tsx
  src/app/user/[id]/page.tsx
  src/components/common/MannerLevelBar.tsx
  src/components/common/Toggle.tsx
  src/components/user/BlindProfile.tsx
  src/components/user/UserProfile.tsx
Labels: 🛠feat
